body{

	text-align: center;
	margin-top: 100px;
	background-image: url(JSON2.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: "Arial";
	font-weight: bolder;
}